.main-page
{
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
    grid-template-columns: 1fr 4fr 1fr;
    row-gap: 5em;
}

.header
{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo
{
    display: block;
    margin-left: 0.5em;
}

.search-box
{
    width: 25vw;
    display: flex;
    flex-direction: row;
    height: fit-content;
    padding: 0.3em;
    border: solid 1px black;
    border-radius: 10px;
    align-items: center;
}

.search-icon
{
    height: 2em;
}

.search-text
{
    justify-self: center;
}

.navigator
{
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-left: 0.5em;
}

.nav-community
{
    margin-bottom: 30px;
    flex-shrink: 0;
}

.content
{   
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: center;
}

.notification-bar
{
    grid-row-start: 2;
    grid-column-start: 3;
}

.notification-heading
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
}

.notification-heading-icon
{
    height: 1.4em;
    margin-bottom: 15px;
}

.notifications-menu
{
    margin-top: 2em;
}

.notification-tile
{
    display: flex;   
    column-gap: 1em;
    margin-bottom: 2em;
}

.notification-icon
{
    height: 2em;
}

.notification-content
{
    align-self: center;
}

.notification-unread
{
    font-weight: 600;
}
